.intro{
    background-image: url("../pics/h_img.jpg");
    padding: 10%;
    text-align: center;
    color: white;
}
.about-us{
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
}
.Service{
    background-image: url("../pics/s_image.jpg");
    padding: 4%;
    text-align: center;
    color:white;
    font-weight: bold;
}
.what-hidden{
    text-align: center;
    margin-top: 1.5%;
}
.what-showing2{
    display: none;
}
.what-showing3{
    display: none;
}
.what-showing4{
    display: none;
}
#work04{
    display: none;
    transform: translate(0%, -700%);
}
#work03{
    display: none;
    transform: translate(0%, -700%);
}
}
#work02{
    display: none;
    transform: translate(0%, -700%);
}
}
#work01{
    display: none;
    transform: translate(0%, -700%);
}
}

#work05{
    display: none;
    transform: translate(0%, -700%);
}
}
#work06{
    display: none;
    transform: translate(0%, -700%);
}
}
#work07{
    display: none;
    transform: translate(0%, -700%);
}
}
#work08{
    display: none;
    transform: translate(0%, -700%);
}
}
.folio{
    text-align: center;
    margin-top: 1.8%;
}
.folios{
    margin-top: 1.5%;
    text-align: center;
    position: relative;
    color: white;

}
.contacts{
    background-image: url("../pics/c_image.jpg");
    color: white;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    text-align: center;
}
.transparent{
    padding: 2%;
    background-color: transparent;
    opacity: 0.5;
    margin-top: 1.5%;
    
}
.foot{
    text-align: center;
}


